doctype html
html
  head
    title Bharatnatyam Academy by Aniket Banerjeee
    block scripts
    block style
  body
    nav#navbar.top 
      ul
        #logo 
          img(src="/static/download-removebg-preview.png")
          .p
            | BHARATNATYAM ACADEMY
        #buttons
          li #[a(href="/") Home] 
          li #[a(href="/about") About]
          li #[a(href="/classes") Classes Info]
          li #[a(href="/contact") Contact Us]
    
    block content

    footer#footer 
      p Copyright © 2024 bharatnatyamacademy.in.net | All rights reserved
      p - by Aniket Banerjee